pmd_mesh-demonstrator/secrets/*
pmd_public-infrastructure-demonstrator/secrets/*
.env
token.txt
tokens.json
endpoints.json
_toc.yml
pyiron.db
pyiron.log
.ipynb_checkpoints/
.ipynb_checkpoints/*
__pycache__/
__pycache__/*
notebooks/__pycache__/
notebooks/__pycache__/*
Untitled.ipynb
tests.ipynb
*.egg-info
partners.json
*.~undo-tree~
.#*
\#*#
.dir-locals.el
_version.py
jupyterlab.log
.ai.code.files/
AGENTS.md
.notes/
.codex
.codex/